/* .banner {
  background-image: url(/src/Images/chang-duong-Sj0iMtq_Z4w-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
} */
.heading {
  font-size: 5rem;
  font-weight: bolder;
  line-height: 5rem;
}
.button {
  background-color: rgb(245, 48, 114);
  color: white;
  border-radius: 25px;
  border: none;
  padding: 5px 20px;
}
