form {
  max-width: 500px;
  margin: 0 auto;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 200;
}

.login-btn {
  background: #ec5990;
  color: white;
  width: 100%;
  /* text-transform: uppercase; */
  border: none;
  margin-top: 40px;
  /* padding: 20px; */
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.login-btn:hover {
  background: #bf1650;
}
